services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ans_api_backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/app:/app/app:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    networks:
      - ans_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ans_frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend/src:/app/src:ro
      - ./frontend/public:/app/public:ro
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - api
    networks:
      - ans_network

networks:
  ans_network:
    name: ans_network
    driver: bridge
