# Git

.git
.gitignore

# Python

**pycache**/
_.py[cod]
_$py.class
.pytest_cache/
.venv/
venv/

# Environment and secrets

.env
*.local

# Documentation and IDEs

.vscode/
.idea/
README.md
ANS_Operadoras_API.postman_collection.json

# Docker

Dockerfile
docker-compose.yml
